---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='13 Marzo' %}

  <div class="schedule" data-dates="3-13">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-10.00' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='10.00-10.30' title='Font variabili? Sì grazie.' fill='true' %}
        {% include schedule/talk.html time='10.30-11.00' title='Accessibilità... con stile'  fill='true' %}

        {% include schedule/pause.html time='11.00-11.30' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title='Il dottor Strangepixel - Ovvero: come ho imparato a non preoccuparmi e ad amare gli SVG' time='11.30-12.00' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Designers e developers: No more tears." time='12.00-12.30' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Advanced web performance best practices' time='12.30-13.00' fill='true' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' offerto='true' %}

        <tr>
          {% include schedule/talk.html title='Se Miyazaki fosse stato un developer' time='14.15-14.45' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Report Manager e Stampa, un caso reale" time='14.45-15.15' fill='true'  %}
        </tr>

        {% include schedule/pause.html time='15.15-15.45' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title="L'uno contro l'altro? Praticamente amici! - CSS in JS" time='15.45-16.15' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Web Components: illusione o realtà?' time='16.15-16.45' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Make CSS great again' time='16.45-17.15'  keynote='true' fill='true' %}
        </tr>

        {% include schedule/pause.html time='17.15-17.20' title='Saluti e ringraziamenti' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="3-13">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.15-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-10.00' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='10.00-10.30' title='Font variabili? Sì grazie.' fill='true' %}
        {% include schedule/talk.html time='10.30-11.00' title='Accessibilità... con stile'  fill='true' %}

        {% include schedule/pause.html time='11.00-11.30' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title='Il dottor Strangepixel - Ovvero: come ho imparato a non preoccuparmi e ad amare gli SVG' time='11.30-12.00' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Designers e developers: No more tears." time='12.00-12.30' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Advanced web performance best practices' time='12.30-13.00' fill='true' %}
        </tr>

        {% include schedule/pause.html time='13.00-14.15' title='Lunch' icon="food" fill='true' offerto='true' %}

        <tr>
          {% include schedule/talk.html title='Se Miyazaki fosse stato un developer' time='14.15-14.45' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Report Manager e Stampa, un caso reale" time='14.45-15.15' fill='true'  %}
        </tr>

        {% include schedule/pause.html time='15.15-15.45' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title="L'uno contro l'altro? Praticamente amici! - CSS in JS" time='15.45-16.15' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Web Components: illusione o realtà?' time='16.15-16.45' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Make CSS great again' time='16.45-17.15'  keynote='true' fill='true' %}
        </tr>

        {% include schedule/pause.html time='17.15-17.20' title='Saluti e ringraziamenti' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>












</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
