---
title: I Design System come linguaggio condiviso un workshop di FLOWING
---

<div class="limit">

    <div class="intro intro--no-height">
        <h1 class="intro__title">I Design System come linguaggio condiviso</h1>
        <h1 class="row__title">Conoscere e applicare efficacemente i Design System in un team cross funzionale</h1>
    </div>


    <div class="row  row--2">
        <div class="row__column row__column--no-line-height">
            <h1 class="conf-infos__title">Giovedì 18 Giugno 2020, ore 10-18, Faenza</h1>

            <br>
            <h3 class="row__title">un workshop realizzato in collaborazione con
                <a href="http://www.flowing.it/?utm_source=cssday" class="link">Flowing</a>
            </h3>
        </div>
        <div class="row__column" >
          <p  style="padding-top:20px">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
          </p>
        </div>
    </div>

    <div class="row row--2">
        <p class="row__column">
            I Design System uniscono i team attorno ad un linguaggio visivo e funzionale comune. Il workshop ti insegnerà come co-creare e applicare i Design System all'interno di team end to end per evitare i conflitti e favorire la collaborazione, raggiungendo gli obiettivi di business del progetto.
        </p>
        <p class="row__column">
            Durante il workshop i partecipanti si divideranno in team e affronteranno i temi culturali e progettuali insiti nei Design System tramite esercitazioni che mirano a simulare i momenti chiave dello sviluppo di un’applicazione web.
        </p>
    </div>
    <h2 class="row__title">Programma</h2>
    <div class="row row--1">
        <div class="row__column">
            <p class="row__text">
                <ul>
                    <li>Linguaggio dell'utente vs. linguaggi di dominio</li>
                    <li>Cos'è un Design System</li>
                    </li>Che informazioni servono per fare un Design System</li>
                    </li>Perché un Design System</li>
                    </li>Come formalizzare e utilizzare i principi di Design</li>
                    </li>Parametri e regole d’uso comuni & Governance</li>
                    </li>I Design Pattern</li>
                    </li>I Pattern Funzionali e Percettivi</li>
                    </li>Interface development: HTML, CSS e SCSS</li>
                    </li>Sviluppo e manutenzione di Pattern Library</li>
                    <li>Conclusioni</li>
                </ul>
            </p>

            <p class="row__text">
                Agli iscritti verranno comunicate in anticipo le informazioni necessarie per la partecipazione al workshop. Sarà richiesto il setup di un ambiente di sviluppo configurato come indicato dai docenti nel materiale fornito.<br>
            </p>
            <p class="row__text">
                Il completamento del programma dipende dalla velocità con la quale la classe riuscirà ad affrontare gli argomenti.<br>
            </p>
        </div>

    </div>

    <hr class="hr">

    <div class="row row--2">
        <div class="row__column">
            <h3 class="column__title">A chi è rivolto</h3>
            <p class="row__text">
                Il corso è rivolto a designer, sviluppatori, product owner e manager che vogliano applicare i Design System al proprio prodotto o progetto.
            </p>
            <p class="row__text">
                <b>Conoscenze e requisiti necessari:</b>
                <ul>
                    <li>Conoscenza base di CSS</li>
                    <li>Conoscenza base di Git e account GitHub</li>
                    <li>Computer portatile, Mac OS X o Linux (anche VM)</li>
                </ul>
            </p>
        </div>
        <div class="row__column">
            <h3 class="column__title">Informazioni utili</h3>
            <p class="row__text">
                La durata del corso è di una giornata e
                <b>si terrà il 18 Giugno a partire dalle 10.00</b>
                (il giorno prima del CSSDay).
            </p><br>
            <h3 class="column__title">Location</h3>
            <p class="row__text">
Complesso dei Salesiani<br>
Via San Giovanni Bosco n. 1<br>
Faenza (RA)<br>
                <a href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z" target="_blank" class="link">come raggiungerci</a>
            </p>
        </div>

        <p class="row__column">
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
        </p>

    </div>

    <hr class="hr">

    <h2 class="row__title">Docenti</h2>

    <div class="flex-row">
        <div class="flex-row__column">
            <div class="workshop-teacher">
                <img class="workshop-teacher__avatar" src="/img/cssday/workshop/alessandro-violini.jpg">
                <div class="workshop-teacher__infos">
                    <div class="workshop-teacher__name">Alessandro Violini</div>
                    <div class="workshop-teacher__social">
                        <a href="https://twitter.com/Violo" class="social social--small icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex-row__column">
            Devoto agli standard web e vittima del "pixel perfect", si occupa della progettazione e sviluppo delle interfacce web e mobile.
            Affascinato dall'interaction design, quando non è alle prese con il pc lo è con un Commodore della sua collezione.
            <br/>
            Fan dei Pink Floyd e amante della musica, spolvera regolarmente la sua batteria e ha le gambe sempre pronte per il doppio pedale.
        </p>
    </div>
    <div class="flex-row">
        <div class="flex-row__column">
            <div class="workshop-teacher">
                <img class="workshop-teacher__avatar" src="/img/cssday/workshop/antonio-dell-ava.jpg">
                <div class="workshop-teacher__infos">
                    <div class="workshop-teacher__name">Antonio Dell'Ava&nbsp;&nbsp;&nbsp;</div>
                    <div class="workshop-teacher__social">
                        <a href="https://twitter.com/creativecaos" class="social social--small icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex-row__column">
            Accanito sperimentatore di tutte le tecnologie, è costantemente alla ricerca della soluzione migliore.
            Nato sulle Alpi Retiche, ha un background da interaction designer ma da sempre ama scrivere codice.
            Si occupa di definire l'interfaccia e svilupparne i comportamenti partendo da una prospettiva user centered.
            <br/>
            Tolta la divisa aziendale veste i panni dell'atleta sempre pronto alla gara.
        </p>
    </div>


    <hr class="hr">

    <div class="intro intro--no-height">
        <h1 class="column__title">
            <a href="{{ site.data.tickets.url }}" class="link">Iscriviti ora</a>
            i posti sono limitati</h1>
    </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
