<div id="alert" class="alert">
  <div class="alert__container">
    <div class="alert__title">
      EPIDEMIA CORONA VIRUS IN ITALIA<br/>
      AGGIORNAMENTO SU CSSDAY 2020
    </div>
    <div class="alert__text">
      <h3>
        La conferenza cssday 2020, prevista per il 12-13 Marzo a Faenza, <u>è stata rinviata</u> a nuova data, che
        comunicheremo al più presto.
      </h3>
      <p>
        Abbiamo preso questa decisione per tutelare la salute di tutte le persone e limitare la diffusione del
        "nuovo corona-virus" (COVID-19), coerentemente con il decreto legge del Governo e con le ordinanze delle regioni
        del nord Italia, Regione Emilia-Romagna compresa, che vietano la realizzazione di manifestazioni, eventi e ogni
        forma di aggregazione.
        Ad oggi (24 Febbraio) le ordinanze prevedono una sospensione delle attività fino al 1 Marzo compreso: non possiamo
        sapere come evolverà la situazione subito dopo, perciò come GrUSP abbiamo deciso di tenere una linea il più
        precauzionale possibile e comunicare subito il rinvio dell’evento - così anche da dare più preavviso possibile
        alle persone interessate.
      </p>
      <p>
        In questo momento la nostra priorità è quella di tutelare la salute di tutte le persone e contribuire a contenere
        la diffusione del virus, cercando di limitare gli spostamenti delle persone e le situazioni di aggregazione.
        Nonostante i disagi che il rinvio della conferenza potrà causare, pensiamo che sia la cosa più giusta da fare,
        così come attenersi alle buone regole di comportamento emesse dal Ministero della Salute
        (<a href="http://www.salute.gov.it/nuovocoronavirus">http://www.salute.gov.it/nuovocoronavirus</a>).
      </p>
      <p>
        Per chi ha acquistato il biglietto (per la conferenza e/o per il workshop):<br />
        <ul>
          <li>Il biglietto rimane valido per la nuova data, che sarà comunicata appena possibile.</li>
          <li>
            Nel caso di impossibilità a partecipare nella nuova data, restituiremo un buono valido per la
            partecipazione ad un altro evento del GrUSP.
          </li>
        </ul>
      </p>
    </div>
    <a href="#" id="close">Close</a>
  </div>
</div>

<script type="text/javascript">
    document.getElementById('close').onclick = function close(e) {
        e.preventDefault();
        document.getElementById('alert').style = "display: none;";
    }
</script>
